
.normal {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
	flex-basis: calc(100 - 200px);
}

.myMenu {
	flex-basis: 200px !important;
	height: 100vh;
}

.main {
  padding: 0 8px;
  flex: 1 0 auto;
}
